@using OgrenciNotMvc.Models.EntityFramework
@model List<TblOgrenciler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Cinsiyet</th>
        <th>Kulüp</th>
    </tr>

    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.Id</td>
                <td>@x.Ad</td>
                <td>@x.Soyad</td>
                <td>@x.Cinsiyet</td>
                <td>@x.TblKulüpler.Ad</td>
            </tr>
        }
    </tbody>
</table>

